<footer class="sticky-footer bg-white">
    <div class="container my-auto">
        <div class="copyright text-center my-auto">
            <div class="row">
                <div class="col-auto" style="font-size: 10px;">
                    <p class="text-sm text-muted"></p>
                    <p>마케팅샵 ㅣ<em class="divider"></em>대표 : 오태석</p>
                    <p>사업자등록번호 : 897-07-01208 ㅣ 통신판매업신고 제 2019-서울강북-0138 호</p><p></p><p>주소 : 서울특별시 강북구 4.19로 11길 16 ㅣ 제휴 이메일 : instamarketingshop@gmail.com</p>
                    <p>상담시간 : 연중무휴 오전 09:00 ~ 오후 12:00</p>
                </div>
            </div>
        </div>
    </div>
</footer>