<div id="plusAlpha">
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- change nickname Modal-->
    <div class="modal fade" id="changeNicknameModal" tabindex="-1" role="dialog" aria-labelledby="changeNicknameModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="changeNicknameModalLabel">변경할 닉네임을 입력해주세요</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body text-primary">
                    <label for="changeNickname">변경할 닉네임(최대 8글자) : </label>
                    <input type="text" id="changeNickname" name="nickname" value="" placeholder="홍길동">
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">취소</button>
                    <button class="btn btn-primary" type="button" onclick="changeNickname()">변경</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">로그아웃 하시겠습니까?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body text-primary">폐쇄몰입니다. 검색으로 찾기 힘든 사이트입니다.<br>가시기 전에 사이트를 '즐겨찾기'에 등록해두세요 :)</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">취소</button>
                    <a class="btn btn-primary" href="/doLogout">로그아웃</a>
                </div>
            </div>
        </div>
    </div>

    <!-- starRating Modal-->
    <div class="modal fade" id="CommentModal" tabindex="-1" role="dialog" aria-labelledby="CommentModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content wrap"> <!--start-->
                <form name="reviewform" class="reviewform" method="post" action="/save">
                    <input type="hidden" name="orderid" id="rate-orderid" value="{{!orderid}}">
                    <input type="hidden" name="privateid" value="{{user.privateid}}">
                    <input type="hidden" name="servicenum" id="rate-servicenum" value="">
                    <input type="hidden" name="curpage" id="curpage" value="">

                    <input type="hidden" name="rate" id="rate" value="0">
                    <div class="modal-header">
                        <h5 class="modal-title title_star" id="CommentModalLabel"><font color="#000" id="review-title">{{!스몰#4444 인스타좋아요에 대한}}등록 모달</font></h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body text-primary">
                        <h5 class=""><font color="#000">별점과 리뷰를 남겨주세요.(최대 100글자)</font></h5>
                        <div class="review_rating">
                            <div class="warning_msg">별점을 선택해 주세요.</div>
                            <div class="rating">
                                <!-- 해당 별점을 클릭하면 해당 별과 그 왼쪽의 모든 별의 체크박스에 checked 적용 -->
                                <input type="checkbox" name="rating" id="rating1" value="1" class="rate_radio" title="1점">
                                <label for="rating1"></label>
                                <input type="checkbox" name="rating" id="rating2" value="2" class="rate_radio" title="2점">
                                <label for="rating2"></label>
                                <input type="checkbox" name="rating" id="rating3" value="3" class="rate_radio" title="3점" >
                                <label for="rating3"></label>
                                <input type="checkbox" name="rating" id="rating4" value="4" class="rate_radio" title="4점">
                                <label for="rating4"></label>
                                <input type="checkbox" name="rating" id="rating5" value="5" class="rate_radio" title="5점">
                                <label for="rating5"></label>
                            </div>
                        </div>
                        <div class="review_contents">
                            <div class="warning_msg">5자 이상으로 작성해 주세요.</div>
                            <textarea rows="10" class="review_textarea" name="content"></textarea>
                        </div>
                    </div>
                    <div class="modal-footer cmd">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">취소</button>
                        <button class="btn btn-primary" type="button" name="save" id="save">등록</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- starRating Change Modal-->
    <div class="modal fade" id="CommentChangeModal" tabindex="-1" role="dialog" aria-labelledby="CommentChangeModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content wrap"> <!--start-->
                <form name="reviewchangeform" class="reviewchangeform" method="post" action="/changeComment">
                    <input type="hidden" name="commentid" id="change-rate-commentid" value=""> <!--orderid에서 변함-->
                    <input type="hidden" name="curpage" id="change-curpage" value="">
                    <!--<input type="hidden" name="privateid" value="{{!user.privateid}}">-->
                    <input type="hidden" name="servicenum" id="change-rate-servicenum" value="">

                    <input type="hidden" name="rate" id="change-rate" value="0">
                    <div class="modal-header">
                        <h5 class="modal-title title_star" id="CommentChangeModalLabel"><font color="#000" id="change-title">{{!스몰#4444 인스타좋아요에 대한}}</font></h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body text-primary">
                        <h5 class=""><font color="#000">별점과 리뷰를 수정하세요.(최대 100글자)</font></h5>
                        <div class="change_review_rating">
                            <div class="warning_msg">별점을 선택해 주세요.</div>
                            <div class="change-rating">
                                <!-- 해당 별점을 클릭하면 해당 별과 그 왼쪽의 모든 별의 체크박스에 checked 적용 -->
                                <input type="checkbox" name="changerating" id="changerating1" value="1" class="change_rate_radio" title="1점">
                                <label for="changerating1"></label>
                                <input type="checkbox" name="changerating" id="changerating2" value="2" class="change_rate_radio" title="2점">
                                <label for="changerating2"></label>
                                <input type="checkbox" name="changerating" id="changerating3" value="3" class="change_rate_radio" title="3점" >
                                <label for="changerating3"></label>
                                <input type="checkbox" name="changerating" id="changerating4" value="4" class="change_rate_radio" title="4점">
                                <label for="changerating4"></label>
                                <input type="checkbox" name="changerating" id="changerating5" value="5" class="change_rate_radio" title="5점">
                                <label for="changerating5"></label>
                            </div>
                        </div>
                        <div class="change_review_contents">
                            <div class="warning_msg">5자 이상으로 작성해 주세요.</div>
                            <textarea rows="10" class="review_change_textarea" name="content"></textarea>
                        </div>
                    </div>
                    <div class="modal-footer cmd">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">취소</button>
                        <button class="btn btn-primary" type="button" name="changeComment" id="changeComment">수정</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- order condition Modal-->
    <div class="modal fade" id="orderConditionModal" tabindex="-1" role="dialog" aria-labelledby="orderConditionModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="orderConditionModalLabel"><font color="#000"><b>상태명 설명</b></font></h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body text-primary"><b>'전체'</b><font color="#000">는 모든 상태명을 포함합니다.</font></div>
                <div class="modal-body text-dark"><b>'대기중'</b><font color="#000">은 아직 공급이 시작되기 전이라는 뜻입니다</font></div>
                <div class="modal-body text-warning"><b>'진행중'</b><font color="#000">은 공급이 진행중이라는 뜻입니다</font></div>
                <div class="modal-body text-success"><b>'완료'</b><font color="#000">는 주문 수량이 모두 공급되었다는 뜻입니다</font></div>
                <div class="modal-body text-danger"><b>'부분공급'</b><font color="#000">은 수요가 몰려서 수량의 일부만 공급된 상태에서 '취소'된 상태를 말합니다. 공급되지 않은만큼 환불됩니다</font></div>
                <div class="modal-body text-warning"><b>'작업지연'</b><font color="#000">은 가장 곤란한 경우입니다. 현재 작업에 사용가능한 계정이 모자라
                추가적인 계정을 생성하는 단계입니다. 보통 '작업지연'이 나타나는 경우 최소 12시간 이상은 지연된다라고 생각하시면 됩니다.
                빨리 작업되는게 중요하시다면 해당 상태가 표시될 경우 다른 공급사에 다시 주문을 하는게 좋습니다. 또한 '작업지연'이 끝난 후 '진행중' 단계로 넘어가며 공급이 시작되는 것도 염두에 두셔야합니다.</font></div>
                <div class="modal-body text-secondary"><b>'취소'</b><font color="#000">는 수요가 몰려서 해당 공급사에서 처리가능한 양을 초과한 경우 취소시킬 수 있습니다. 당연히 이 경우 환불됩니다.</font></div>

                <div class="modal-body text-primary"><b>'환불' : </b><font color="#000">"부분공급'과 '취소'로 인한 환불은 해당 주문이 조회되었을때 환불 처리됩니다. 태그를 클릭하여 한번에 환불받을 수 있습니다</font></div>
                <div class="modal-body text-dark"><b>'남은수량'</b><font color="#000">이 +로 시작한다면 추가 공급되었다는 의미입니다</font></div>

                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">닫기</button>
                </div>
            </div>
        </div>
    </div>
    <!-- subscription condition Modal-->
    <div class="modal fade" id="subsConditionModal" tabindex="-1" role="dialog" aria-labelledby="subsConditionModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="subsConditionModalLabel"><font color="#000"><b>자동화내역 설명</b></font></h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body"><b><font color="#111111">게시물 수를 클릭하여 몇 번 적용되었는지 확인할 수 있습니다.<br>클릭시 해당 주문내역들이 '주문내역'탭에 추가됩니다<br>
                    상세내역(링크, 적용시간)을 원할 경우 자동화내역의 '주문번호'와 함께 상세내역을 원한다는 내용을 instamarketingshop@gmail.com로 보내주시면 24시간 내에 회신드립니다</font></b></div>
                <div class="modal-body text-danger">게시물 수를 클릭하여 상세조회를 할때는 다소 시간이 소요됩니다. 처리될때까지 기다려주세요.</div>
                <div class="modal-body text-danger">자동화내역을 취소 할 경우 다소 시간이 소요됩니다. 처리되기 전에 페이지를 옮길경우 '자동화내역' 페이지를 다시 방문할때 환불이 진행됩니다.</div>

                <div class="modal-body text-primary"><b>'전체'</b><font color="#000">는 모든 상태명을 포함합니다.</font></div>
                <div class="modal-body text-warning"><b>'활성화'</b><font color="#000">는 자동화 상품이 아직 적용중이라는 의미입니다</font></div>
                <div class="modal-body text-success"><b>'완료'</b><font color="#000">는 처음 주문한 게시물 수가 모두 소진되었다는 의미입니다</font></div>
                <div class="modal-body text-secondary"><b>'취소'</b><font color="#000">는 본인이 취소한 자동화 내역입니다</font></div>

                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">닫기</button>
                </div>
            </div>
        </div>
    </div>

    {{#neworder}}
    <script src="/js/custom-neworder.js"></script>
    {{/neworder}}

    {{#addorder}} <!--addorder 이후에만 생김-->
    <script src="/js/custom-addorder.js"></script>
    {{/addorder}}
    {{#reorder}}
    <script src="/js/custom-reorder.js"></script>
    {{/reorder}}

    <script src="/js/custom-orders.js"></script>

    <script src="/js/custom-all.js"></script>
    {{#deposit}}
    <!--<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js" ></script>
    <script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.1.5.js"></script>-->
    <script src="/js/custom-deposit.js"></script>
    {{/deposit}}
    <!-- Bootstrap core JavaScript-->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="/js/sb-admin-2.min.js"></script>

</div>