<body class="app position-relative vsc-initialized" style="height: 100%; zoom: 1;" data-aos-easing="ease" data-aos-duration="400" data-aos-delay="0">
<div class="zeynep-overlay"></div>

<div class="container-fluid">
    <div class="row">
        <!-- Main -->
        <main class="main py-3 px-3 px-xl-5 w-100">
            <div class="row">
                <div class="col-12 col-xl-8">
                    <form class="card" method="get" action="/addCharge">
                        <div class="card-body">
                            <div class="form-group">
                                <label for="method" class="control-label">
                                    <font color="#000">입금자명 <small>(띄어쓰기 금지, 5글자 이하)</small></font>
                                </label>
                                <input class="form-control" type="text" id="method" name="payname" value="" placeholder="홍길동">
                                <!--<select class="form-control" id="method" name="AddFoundsForm[type]">
                                    <option value="kakaopay">카카오페이(간편결제)</option>
                                    &lt;!&ndash;<option value="html5_inicis">일반결제</option>
                                    <option value="payco">페이코</option>&ndash;&gt;
                                </select>-->
                            </div>
                            <div class="form-group">
                                <label for="amount" class="control-label">
                                    <span id="amount_label"><font color="#000">충전금액</font></span> <span id="amount_label_currency" class="hidden"></span>
                                    <small>최소 : 5,000원 </small>
                                </label>
                                <div class="input-group">
                                    <div class="input-group-prepend bg-muted">
                                        <span class="input-group-text"><i class="fas fa-won-sign"></i></span>
                                    </div>
                                    <input type="number" class="form-control" name="money" id="amount" value="" step="1000" placeholder="0">
                                </div>
                            </div>
                            <input type="hidden" name="_csrf" value="7SIXa9dLwUZehZBlWC2tCkeYHr9dNOrPGtKiuDjIIze6bU4z4R3xAAvx0idvd584Bukz_jdio7ZJovHvQKYSQA==">
                            <button type="submit" class="btn btn-primary btn-block" id="addCharge-btn">충전</button>
                        </div>
                    </form>
                    <div class="card mt-3"> <!--공백-->
                        <div class="card-body"><p><br></p></div>
                    </div>
                    <div class="card tabs mt-3"> <!--설명란-->
                        <div class="card-header">
                            <ul class="nav nav-tabs d-flex flex-column flex-xl-row" role="tablist">
                                <li role="presentation" class="nav-item active">
                                    <a data-toggle="tab" href="#home" class="active" role="tab" aria-controls="home" aria-selected="true">
                                    <i class="fab fa-bitcoin mr-2"></i>무통장 입금</a>
                                </li>
                                <!--<li role="presentation" class="nav-item">
                                    <a data-toggle="tab" href="#menu1" class="" role="tab" aria-controls="menu1" aria-selected="false">
                                    <i class="fas fa-money-bill-wave mr-2"></i>메뉴 1</a>
                                </li>
                                <li role="presentation" class="nav-item">
                                    <a data-toggle="tab" href="#menu2" class="" role="tab" aria-controls="menu2" aria-selected="false">
                                    <i class="fas fa-wallet mr-2"></i>메뉴 2</a>
                                </li>-->
                            </ul>
                        </div>
                        <div class="card-body">
                            <div class="tab-content">
                                <div id="home" class="tab-pane fade in active show" role="tabpanel">
                                    <h2><b>무통장 입금</b></h2>
                                    <h5><b>예금주:</b> 오태석</h5>
                                    <h5><b>은행명:</b> 신한은행</h5>
                                    <h5 onclick="clickCopy('110 412 165286 신한은행')"><b>계좌번호:</b> 110 412 165286 (클릭시 복사)</h5>
                                    <p>&nbsp;</p>
                                    <h3><b>충전방법</b></h3>
                                    <p>▶ '입금자명'과 '충전금액'을 입력하고 <b>충전</b>을 누른다</p>
                                    <p>▶ 그 이후 입력한 '충전금액'을 적혀있는 계좌로 <b>이체</b>한다.<br>이때 입금자명(받는 통장에 표시)은 동일해야한다.</p>
                                    <p class="text-danger">▶▶ 결제금액과 입금자명이 일치해야만 충전됩니다 (정확히 기재해주세요)</p>
                                    <p>▶▶ 이체를 먼저한 경우 충전이 되지않습니다. <br>    실수로 이체를 먼저하신 경우 '내 결제내역'과 '현재시간'이 보이도록 스크린샷을 찍어 instamarketingshop@gmail.com로 보내주세요.</p>
                                    <p>▶ 관리자의 확인 이후 충전됩니다 (취침시간 제외/ 평균 1시간 이내)</p>
                                    <p>▶ 충전을 눌러 대기 상태가 된 이후, 12시간이 경과하면 상태가 취소로 변경됩니다</p>
                                    <p>▶▶ '취소'상태에서 이체를 하셔도 충전되지 않습니다</p>
                                </div>
                                <!--<div id="menu1" class="tab-pane fade" role="tabpanel">
                                    <h3>메뉴1</h3>
                                    <p class="m-0">내용</p>
                                </div>

                                <div id="menu2" class="tab-pane fade" role="tabpanel">
                                    <h3>메뉴2</h3>
                                    <p><b>내용</b></p>
                                </div>-->
                            </div>
                        </div>
                    </div>

                    <div class="card mt-3"> <!--내 결제 히스토리-->
                        <div class="card-header">
                            <h6 class="font-weight-bold m-0"><i class="fas fa-money-check-edit-alt mr-2"></i>내 결제내역</h6>
                        </div>
                        <div class="card-body p-0">
                            <table class="table modern m-0">
                                <thead>
                                <tr>
                                    <th>결제번호</th>
                                    <th>결제일시</th>
                                    <th>입금자명</th>
                                    <th>충전금액</th>
                                    <th>상태</th>
                                </tr>
                                </thead>
                                <tbody>
                                {{#paymentData}}
                                <tr class="deposit" data-status="{{status}}">
                                    <td>{{id}}</td>
                                    <td><span class="nowrap">{{createdate}}</span></td>
                                    <td>{{payname}}</td>
                                    <td>{{money}}</td>
                                    <td>{{status}}</td>
                                </tr>
                                {{/paymentData}}
                                </tbody>
                            </table>
                        </div>
                        <div class="card-footer">
                            <div class="nav-pills">
                                <ul class="pagination ">
                                    {{^paymentData.first}}
                                    <li>
                                        <a href="/customer/deposit/1" aria-label="First">
                                            <span aria-hidden="true"><i class="fas fa-angle-double-left"></i></span>
                                        </a>
                                    </li>
                                    {{/paymentData.first}}
                                    {{#pagelist}}
                                    <li {{#curpage}}class="active"{{/curpage}} ><a href="/customer/deposit/{{page}}">{{page}}</a></li>
                                    {{/pagelist}}
                                    {{^paymentData.last}}
                                    <li>
                                        <a href="/customer/deposit/{{paymentData.totalPages}}" aria-label="Last">
                                            <span aria-hidden="true"><i class="fas fa-angle-double-right"></i></span>
                                        </a>
                                    </li>
                                    {{/paymentData.last}}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <!-- Main End -->
    </div>
</div>


</body>