.comment-card{
    background-color:rgba(236, 243, 250, 1);
}
.comment-card-in{
    background-color:rgba(235, 242, 251, 0.5);
}

.qna-card{
    background-color:rgba(232,249,243,1);
}
.qna-card-in{
    background-color:rgba(232,249,243,0.3);
}

.danger-card{
    background-color:rgba(253, 237, 235, 1);
}
.danger-card-in{
    background-color:rgba(253, 237, 235, 0.3);
}

#common-search-form{
    background-color:#ecf3fc;
}

/* 레이아웃 외곽 너비 400px 제한*/
.wrap{
    max-width: 480px;
    margin: 0 auto; /* 화면 가운데로 */
    background-color: #fff;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;

}
.reviewform textarea, .reviewchangeform textarea{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}
.rating .rate_radio, .change-rating .change_rate_radio {
    position: relative;
    display: inline-block;
    z-index: 20;
    opacity: 0.001;
    width: 60px;
    height: 60px;
    background-color: #fff;
    cursor: pointer;
    vertical-align: top;
    display: none;
}
.rating .rate_radio + label , .change-rating .change_rate_radio + label {
    position: relative;
    display: inline-block;
    margin-left: -4px;
    z-index: 10;
    width: 60px;
    height: 60px;
    background-image: url('/img/starrate.png');
    background-repeat: no-repeat;
    background-size: 60px 60px;
    cursor: pointer;
    background-color: #f0f0f0;
}
.rating .rate_radio:checked + label, .change-rating .change_rate_radio:checked + label {
    background-color: #ff8;
}

.warning_msg {
    display: none;
    position: relative;
    text-align: center;
    background: #ffffff;
    line-height: 26px;
    width: 100%;
    color: red;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #e0e0e0;
}

.rate-Atag{
    color:#fff;
}

.rate-Atag:hover {
    color : #FFEB46;
}