<!DOCTYPE html>
<html lang="ko">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Instagram, YouTube, TikTok. We'll increase your followers and likes.">
    <meta name="author" content="www.marketingshop.com">

    <title>마케팅샵 새로운주문</title>

    <!-- Custom fonts for this template-->
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="/css/sb-admin-2.min.css" rel="stylesheet" type="text/css">

</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -------------------------------------------------------------------------------------------------->

    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/customer/neworder">
            <div class="sidebar-brand-icon rotate-n-15">
                <i class="fas fa-laugh-wink"></i>
            </div>
            <div class="sidebar-brand-text mx-3">marketing shop</div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - new order -->
        <li class="nav-item active">
            <a class="nav-link" href="/customer/neworder">
                <i class="fas fa-fw fa-shopping-cart"></i>
                <span>새로운 주문</span></a>
        </li>

        <!-- Nav Item - orders -->
        <li class="nav-item">
            <a class="nav-link" href="/customer/orders">
                <i class="fas fa-fw fa-list-ul"></i>
                <span>주문 내역</span></a>
        </li>

        <!-- Nav Item - subscription -->
        <li class="nav-item">
            <a class="nav-link" href="/customer/subscriptions">
                <i class="fas fa-fw fa-reply-all"></i>
                <span>자동화 내역</span></a>
        </li>

        <!-- Nav Item - deposit -->
        <li class="nav-item">
            <a class="nav-link" href="/customer/deposit">
                <i class="fas fa-fw fa-won-sign"></i>
                <span>결제</span></a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">

        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>


    </ul>

    <!-- End of Sidebar -------------------------------------------------------------------------------------------------->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar ------------------------------------------------------------------------------------------>

            <nav class="navbar navbar-expand topbar mb-4 static-top">

                <!-- Sidebar Toggle (Topbar) 폰화면에서 좌측바 없애는창(히든 메뉴)-->
                <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                    <i class="fa fa-bars"></i>
                </button>

                <!-- Page Heading -------------------------------------------------->
                <div class="d-sm-flex justify-content-between">
                    <h1 class="h3 mb-0 text-dark"> &nbsp; &nbsp; 새로운 주문</h1>
                </div>
                <!-- Topbar Navbar 본인 아이디 클릭하면 로그아웃하는 창-->
                <ul class="navbar-nav ml-auto">

                    <div class="topbar-divider d-none d-sm-block"></div>

                    <!-- Nav Item - User Information -->
                    <li class="nav-item dropdown no-arrow">
                        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-bars"></i>
                            <span class="ml-2 mr-2 d-none d-lg-inline text-gray-600 small">taeseok</span>
                        </a>
                        <!-- Dropdown - User Information -->
                        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                             aria-labelledby="userDropdown">
                            <!-- <div class="dropdown-divider"></div> -->
                            <a class="dropdown-item" href="login" data-toggle="modal" data-target="#logoutModal">
                                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                Logout
                            </a>
                        </div>
                    </li>

                </ul>

            </nav>

            <!-- End of Topbar -------------------------------------------------------------------------------------->

            <!-- Begin Page Content -->
            <div>main내용입니다</div>
            <!--<tiles:insertAttribute name="main"/>-->

            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer ------------------------------------------------------------------------->

        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright &copy; Website 2021</span>
                </div>
            </div>
        </footer>

        <!-- End of Footer -------------------------------------------------------------------------->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->


<!-- -------------------------------plus alpha------------------------------------------- -->

<div id="plusAlpha">
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">로그아웃 하시겠습니까?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body text-primary">폐쇄몰입니다. 가시기 전에 사이트를 '즐겨찾기'에 등록해두세요 :)</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">취소</button>
                    <a class="btn btn-primary" href="/doLogout">로그아웃</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="/js/sb-admin-2.min.js"></script>

</div>

</body>

</html>