{{>layouts/mainSetting}}
<body id="page-top" class="app position-relative vsc-initialized" data-aos-easing="ease" data-aos-duration="400" data-aos-delay="0">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -------------------------------------------------------------------------------------------------->

    {{>layouts/aside}}

    <!-- End of Sidebar -------------------------------------------------------------------------------------------------->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
        {{#msg}}
            <div class="alert alert-danger alert-dismissible" role="alert" style="display: block;">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4><b>{{.}}</b></h4>
            </div>
            <div class="zeynep-overlay"></div>
        {{/msg}}
        {{#orderStatus}}
        <div class="alert alert-success alert-dismissible" role="alert" style="display: block;">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
            <h4><b>주문이 완료되었습니다</b></h4>
            "주문내역"탭에서 구매 상품의 '후기'와 '별점'을 남기고 10%를 환급받으세요~!<br>
            주문번호: {{orderid}}<br>
            서비스 ( 가격 / 1,000 ): {{serviceList.korname}}<br>
            링크: {{link}}<br>
            주문개수: {{quantity}}<br>
            가격: {{charge}}원<br>
            잔액: {{user.balance}}원
        </div>
        <div class="zeynep-overlay"></div>
        {{/orderStatus}}
        {{#subscription}}
        <div class="alert alert-success alert-dismissible" role="alert" style="display: block;">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
            <h4><b>주문이 완료되었습니다</b></h4>
            '자동화 상품'은 주문 직후 10분동안 비활성화 상태입니다. 구매 이후 10분 이상 경과후 게시물을 올려주세요<br>
            자동화 주문번호: {{subsid}}<br>
            서비스 ( 가격 / 1,000 ): {{serviceList.korname}}<br>
            유저 이름: {{username}}<br>
            주문 개수: {{min}}-{{max}}<br>
            게시물 수: {{posts}}<br>
            가격: {{charge}}원<br>
            잔액: {{user.balance}}원
        </div>
        <div class="zeynep-overlay"></div>
        {{/subscription}}
        <!-- Main Content -->
        <div id="content">

            <!-- Topbar ------------------------------------------------------------------------------------------>

            {{>layouts/header}}

            <!-- End of Topbar -------------------------------------------------------------------------------------->

            <!-- Begin Page Content -->
            {{>main/neworder}}

            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer ------------------------------------------------------------------------->

        {{>layouts/footer}}

        <!-- End of Footer -------------------------------------------------------------------------->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->


<!-- -------------------------------plus alpha------------------------------------------- -->

{{>layouts/plusAlpha}}

</body>

</html>