<body class="app position-relative vsc-initialized" style="height: 100%; zoom: 1;" data-aos-easing="ease" data-aos-duration="400" data-aos-delay="0">
<div class="zeynep-overlay"></div>

<div class="container-fluid">
    <div class="row">
        <main class="main py-3 px-3 px-xl-5 w-100">
            <div class="row">
                <div class="col-12 col-xl-8">
                    <div class="d-flex flex-row align-items-center justify-content-between mb-3 col-heading">
                        <p class="text-muted m-0">"주문내역"탭에서 구매 상품의 후기와 별점을 남기고 10%를 환급받으세요~!</p>
                        <a href="/orders" class="btn btn-sm btn-outline-primary">주문내역</a>
                    </div>

                    <div class="card">
                        <div class="card-body">
                            <form action="/" method="post" id="order-form" class="form form-horizontal">
                                <div class="form-group">
                                    <label for="orderform-category" class="control-label">Category</label>
                                    <select class="form-control" id="orderform-category" name="OrderForm[category]">
                                        <option value="184" selected="">📩 Instagram Email Extractor 🔥🔥</option>
                                        <option value="207">💎 Crypto.com Marketplace Views 🔥🔥</option>
                                        <option value="206">💎 SuperRare.com Views 🔥🔥</option>
                                        <option value="39">❖ YouTube Video/Shorts Views</option>
                                        <option value="143">❖ YouTube Video/Shorts Views [ 𝐑𝐀𝐕™ - GEO Targeted ]</option>
                                        <option value="92">❖ YouTube Video/Shorts Views [ 𝐑𝐀𝐕™ - Language Targeted ]</option>
                                        <option value="152">❖ YouTube Video/Shorts Views [ 𝐑𝐀𝐕-𝐆𝐒™ - GEO Targeted ]</option>
                                        <option value="153">❖ YouTube Video/Shorts Views [ 𝐑𝐀𝐕-𝐆𝐒™ - Language Targeted ]</option>
                                        <option value="205">❖ YouTube Video/Shorts Views [ 𝐑𝐀𝐕-𝐌𝐓𝐒™ - GEO Targeted ]</option>
                                        <option value="204">❖ YouTube Video/Shorts Views [ 𝐑𝐀𝐕-𝐌𝐓𝐒™ - Language Targeted ]</option>
                                        <option value="87">❖ YouTube 𝐀𝐮𝐭𝐨 Video/Shorts Views</option>
                                        <option value="54">❖ YouTube Live Stream / Premiere [RAV™ - Real &amp; Active Views]</option>
                                        <option value="182">❖ YouTube Live Stream / Premiere [APV™ Automated Passive Views]</option>
                                        <option value="10">❖ YouTube Likes</option>
                                        <option value="151">❖ YouTube Comments</option>
                                        <option value="68">❖ YouTube Subscribers</option>
                                        <option value="42">❖ YouTube Shares</option>
                                        <option value="66">❖ YouTube Shares [ GEO Targeted ]</option>
                                        <option value="11">❖ YouTube Worldwide Shares [ + Choose Referrer ]</option>
                                        <option value="73">❖ 🇺🇸 YouTube USA Shares [ + Choose Referrer ]</option>
                                        <option value="26">❖ 🇰🇷 YouTube South-Korea Shares [ + Choose Referrer ]</option>
                                        <option value="164">❖ 🇧🇷 YouTube Brazil Shares [ + Choose Referrer ]</option>
                                        <option value="165">❖ 🇹🇷 YouTube Turkey Shares [ + Choose Referrer ]</option>
                                        <option value="155">❖ 🇯🇵 YouTube Japan Shares [ + Choose Referrer ]</option>
                                        <option value="156">❖ 🇹🇭 YouTube Thailand Shares [ + Choose Referrer ]</option>
                                        <option value="163">❖ 🇻🇳 YouTube Vietnam Shares [ + Choose Referrer ]</option>
                                        <option value="157">❖ 🇮🇳 YouTube India Shares [ + Choose Referrer ]</option>
                                        <option value="202">❖ 🇧🇩 YouTube Bangladesh Shares [ + Choose Referrer ]</option>
                                        <option value="203">❖ 🇵🇰 YouTube Pakistan Shares [ + Choose Referrer ]</option>
                                        <option value="180">❖ 🇵🇭 YouTube Philippines Shares [ + Choose Referrer ]</option>
                                        <option value="187">❖ 🇮🇩 YouTube Indonesia Shares [ + Choose Referrer ]</option>
                                        <option value="177">❖ 🇮🇹 YouTube Italy Shares [ + Choose Referrer ]</option>
                                        <option value="192">❖ 🇷🇺 YouTube Russia Shares [ + Choose Referrer ]</option>
                                        <option value="186">❖ 🇨🇦 YouTube Canada Shares [ + Choose Referrer ]</option>
                                        <option value="191">❖ 🇹🇼 YouTube Taiwan Shares [ + Choose Referrer ]</option>
                                        <option value="201">❖ 🇳🇬 YouTube Nigeria Shares [ + Choose Referrer ]</option>
                                        <option value="95">❖ YouTube 𝐀𝐮𝐭𝐨 Video Shares</option>
                                        <option value="4">❖ Instagram Post Likes [ LQ/HQ Mixed ]</option>
                                        <option value="94">❖ Instagram Post Likes [ HQ/Real ]</option>
                                        <option value="150">❖ Instagram Post Likes [ Real &amp; Active ] 🔥</option>
                                        <option value="49">❖ Instagram 𝐀𝐮𝐭𝐨 Post Likes</option>
                                        <option value="6">❖ Instagram Views</option>
                                        <option value="71">❖ Instagram 𝐀𝐮𝐭𝐨 Views</option>
                                        <option value="2">❖ Instagram Followers [+ Refill Guarantee]</option>
                                        <option value="200">❖ Instagram Followers [ GEO Targeted/Aged ]</option>
                                        <option value="38">❖ Instagram Followers [No Refill]</option>
                                        <option value="5">❖ Instagram Impressions / Reach / Profile Visits / Saves</option>
                                        <option value="149">❖ Instagram 𝐀𝐮𝐭𝐨 Impressions / Profile Visits / Reach</option>
                                        <option value="145">❖ 🇰🇷 Instagram [ 𝐒𝐨𝐮𝐭𝐡 𝐊𝐨𝐫𝐞𝐚 ] Specials</option>
                                        <option value="78">❖ 🇯🇵 Instagram [ 𝐉𝐚𝐩𝐚𝐧 ] Specials</option>
                                        <option value="190">❖ 🇨🇳 Instagram [ 𝐂𝐡𝐢𝐧𝐚 ] Specials</option>
                                        <option value="63">❖ Instagram TV [IGTV]</option>
                                        <option value="82">❖ Instagram Reel</option>
                                        <option value="7">❖ Instagram Post Comments</option>
                                        <option value="64">❖ Instagram Auto Comments</option>
                                        <option value="62">❖ Instagram Comment Likes</option>
                                        <option value="16">❖ Instagram Live Video</option>
                                        <option value="60">❖ Instagram Story</option>
                                        <option value="18">❖ Facebook FanPage Likes</option>
                                        <option value="19">❖ Facebook Post Likes</option>
                                        <option value="43">❖ Facebook Video Views</option>
                                        <option value="198">❖ Facebook Live Stream Views</option>
                                        <option value="8">❖ Facebook [Others]</option>
                                        <option value="189">❖ Twitter Followers</option>
                                        <option value="25">❖ Twitter [Views / Others]</option>
                                        <option value="37">❖ TikTok [Views / Shares ]</option>
                                        <option value="193">❖ TikTok 𝐀𝐮𝐭𝐨 Views</option>
                                        <option value="137">❖ TikTok Likes</option>
                                        <option value="181">❖ TikTok Followers</option>
                                        <option value="195">❖ TikTok Comments</option>
                                        <option value="46">❖ Telegram</option>
                                        <option value="13">❖ Soundcloud</option>
                                        <option value="12">❖ Pinterest</option>
                                        <option value="30">❖ Spotify Track Plays</option>
                                        <option value="199">❖ Spotify Monthly Listeners</option>
                                        <option value="80">❖ Triller Views</option>
                                        <option value="183">❖ Vimeo.com Views</option>
                                        <option value="89">❖ Quora.com Views</option>
                                        <option value="28">📊 Website Social Signals</option>
                                        <option value="140">🔗 Website SEO &amp; Backlinks</option>
                                        <option value="83">📱 Website Traffic [100% Mobile - Custom GEO]</option>
                                        <option value="101">🚀🌐 Website Traffic - WorldWide [ + Choose Referrer ]</option>
                                        <option value="179">🎯  Website Niche Traffic - Cryptocurrency  [ + Choose GEO ]</option>
                                        <option value="194">🎯 Website Niche Traffic - Betting/Gambling/Casino [ + Choose GEO ]</option>
                                        <option value="102">🚀🇺🇸 Website Traffic from USA [ + Choose Referrer ]</option>
                                        <option value="103">🚀🇰🇷 Website Traffic from South Korea [ + Choose Referrer ]</option>
                                        <option value="104">🚀🇬🇧 Website Traffic from UK [ + Choose Referrer ]</option>
                                        <option value="105">🚀🇮🇳 Website Traffic from India [ + Choose Referrer ]</option>
                                        <option value="106">🚀🇧🇷 Website Traffic from Brazil [ + Choose Referrer ]</option>
                                        <option value="107">🚀🇮🇩 Website Traffic from Indonesia [ + Choose Referrer ]</option>
                                        <option value="108">🚀🇩🇪 Website Traffic from Germany [ + Choose Referrer ]</option>
                                        <option value="122">🚀🇹🇷 Website Traffic from Turkey [ + Choose Referrer ]</option>
                                        <option value="109">🚀🇫🇷 Website Traffic from France [ + Choose Referrer ]</option>
                                        <option value="110">🚀🇨🇦 Website Traffic from Canada [ + Choose Referrer ]</option>
                                        <option value="112">🚀🇷🇺 Website Traffic from Russia [ + Choose Referrer ]</option>
                                        <option value="113">🚀🇺🇦 Website Traffic from Ukraine [ + Choose Referrer ]</option>
                                        <option value="114">🚀🇲🇽 Website Traffic from Mexico [ + Choose Referrer ]</option>
                                        <option value="116">🚀🇻🇳 Website Traffic from Vietnam [ + Choose Referrer ]</option>
                                        <option value="118">🚀🇮🇹 Website Traffic from Italy [ + Choose Referrer ]</option>
                                        <option value="120">🚀🇵🇱 Website Traffic from Poland [ + Choose Referrer ]</option>
                                        <option value="119">🚀🇳🇱 Website Traffic from Netherlands [ + Choose Referrer ]</option>
                                        <option value="117">🚀🇨🇿 Website Traffic from Czech [ + Choose Referrer ]</option>
                                        <option value="121">🚀🇪🇸 Website Traffic from Spain [ + Choose Referrer ]</option>
                                        <option value="124">🚀🇨🇳 Website Traffic from China [ + Choose Referrer ]</option>
                                        <option value="125">🚀🇸🇬 Website Traffic from Singapore [ + Choose Referrer ]</option>
                                        <option value="126">🚀🇹🇼 Website Traffic from Taiwan [ + Choose Referrer ]</option>
                                        <option value="127">🚀🇹🇭 Website Traffic from Thailand [ + Choose Referrer ]</option>
                                        <option value="128">🚀🇯🇵 Website Traffic from Japan [ + Choose Referrer ]</option>
                                        <option value="129">🚀🇵🇰  Website Traffic from Pakistan [ + Choose Referrer ]</option>
                                        <option value="130">🚀🇪🇬  Website Traffic from Egypt [ + Choose Referrer ]</option>
                                        <option value="138">🚀🇵🇹 Website Traffic from Portugal [ + Choose Referrer ]</option>
                                        <option value="139">🚀🇷🇴 Website Traffic from Romania [ + Choose Referrer ]</option>
                                        <option value="148">🚀🇲🇩 Website Traffic from Moldova [ + Choose Referrer ]</option>
                                        <option value="147">🚀🇨🇭 Website Traffic from Switzerland [ + Choose Referrer ]</option>
                                        <option value="90">🚀🇸🇪 Website Traffic from Sweden [ + Choose Referrer ]</option>
                                        <option value="170">🚀🇮🇷 Website Traffic from Iran [ + Choose Referrer ]</option>
                                        <option value="169">🚀🇮🇪 Website Traffic from Ireland [ + Choose Referrer ]</option>
                                        <option value="171">🚀🇮🇱 Website Traffic from Israel [ + Choose Referrer ]</option>
                                        <option value="168">🚀🇿🇦 Website Traffic from South Africa [ + Choose Referrer ]</option>
                                        <option value="167">🚀🇭🇰 Website Traffic from Hong Kong [ + Choose Referrer ]</option>
                                        <option value="166">🚀🇦🇺 Website Traffic from Australia [ + Choose Referrer ]</option>
                                        <option value="172">🚀🇦🇷 Website Traffic from Argentina [ + Choose Referrer ]</option>
                                        <option value="173">🚀🇧🇩 Website Traffic from Bangladesh [ + Choose Referrer ]</option>
                                        <option value="174">🚀🇨🇴 Website Traffic from Colombia [ + Choose Referrer ]</option>
                                        <option value="175">🚀🇫🇮 Website Traffic from Finland [ + Choose Referrer ]</option>
                                        <option value="176">🚀🇵🇭 Website Traffic from Philippines [ + Choose Referrer ]</option>
                                        <option value="142">- Private</option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label for="service" class="control-label">Service ( Price / 1000 )<span id="orderform-service-id" class="ml-2 badge badge-primary">#2668</span></label>
                                    <select id="orderform-service" class="form-control" name="OrderForm[service]">
                                        <option data-type="100" value="2457">🔥⚡⚡ Instagram Auto Likes + Impressions + Reach [HQ Mixed] — $0.25 per 1000</option>
                                        <option data-type="100" value="2729">🔥⚡⚡ Instagram Auto Likes [S7] [HQ] — $0.47 per 1000</option>
                                        <option data-type="100" value="2578">🔥⚡⚡ Instagram Auto Likes [S8] [HQ] — $0.75 per 1000</option>
                                        <option data-type="100" value="3774">🔥⚡⚡ Instagram Auto Likes + Impressions [S5] [Real] [INSTANT] — $1.60 per 1000</option>
                                        <option data-type="100" value="3329">🔥⚡⚡ Instagram Auto Likes [S16] [Real] [INSTANT] — $1.85 per 1000</option>
                                        <option data-type="100" value="2684">🔥⚡⚡ Instagram Auto Likes [S15] [Real] [INSTANT] — $3.00 per 1000</option>
                                        <option data-type="100" value="2668">🔥⚡⚡ Instagram Auto Likes [S13] [Real] [INSTANT] — $3.30 per 1000</option>
                                        <option data-type="100" value="2953">🔥⚡⚡ Instagram Auto Likes + Impressions [S7] [Real] — $3.50 per 1000</option>
                                        <option data-type="100" value="2739">🔥⚡⚡ Instagram Auto Likes + Impressions + Profile Visits [S1] [Real] — $3.80 per 1000</option>
                                        <option data-type="100" value="2830">🔥⚡ Instagram Auto Likes [S9] [HQ] — $0.99 per 1000</option>
                                        <option data-type="100" value="2345">🔥⚡⚡ Instagram Auto Likes [S3] [HQ] — $1.40 per 1000</option>
                                        <option data-type="100" value="2448">🔥⚡⚡ Instagram Auto Likes [S10] [HQ/Real] — $2.40 per 1000</option>
                                        <option data-type="100" value="2662">🔥⚡⚡ Instagram Auto Likes [S2] [Real] — $3.20 per 1000</option>
                                        <option data-type="100" value="2413">🔥⚡ Instagram Auto Likes + Impressions [S2] [HQ] — $1.99 per 1000</option>
                                        <option data-type="100" value="2968">💎 Instagram Auto Likes [ Arab ] [ Real &amp;amp; Active ] — $3.20 per 1000</option>
                                        <option data-type="100" value="2967">💎 Instagram Auto Likes [ WorldWide ] [ Real &amp; Active ] — $7.00 per 1000</option>
                                        <option data-type="100" value="3963">💎🇰🇷 Instagram Auto Likes [ South Korea - HQ ] — $4.50 per 1000</option>
                                        <option data-type="100" value="3045">💎🇰🇷 Instagram Auto Likes [ South Korea - UHQ ] — $17.50 per 1000</option>
                                        <option data-type="100" value="2861">💎🇰🇷 Instagram Auto Likes [ South Korea ] [ Real &amp; Active ] — $15.00 per 1000</option>
                                        <option data-type="100" value="3266">💎♀️ 🇰🇷 Instagram Auto Likes [ South Korea - Female ] [ Real &amp; Active ] — $19.00 per 1000</option>
                                        <option data-type="100" value="3267">💎♂️ 🇰🇷 Instagram Auto Likes [ South Korea - Male ] [ Real &amp; Active ] — $19.00 per 1000</option></select>
                                </div>

                                <div class="form-group fields" id="service_description">
                                    <label for="service_description" class="control-label">Description</label>
                                    <div class="card bg-secondary card-body">★ Real Likes<br><br>⌚ Save Your Time<br><br>⚡ INSTANT Start<br><br>🔐 Non-Drop<br><br>♦ Choose posts amount ( Future Posts ) <br>♦ Min and Max of likes you want per post<br>♦ Put USERNAME only<br>♦ You are ready to go!<br><br>- Your balance will be charged only when 'username' posts new content and order delivered.</div>
                                </div>

                                <div id="fields"><div class="form-group hidden fields" id="order_user_name">
                                    <label class="control-label" for="field-orderform-fields-user_name">Username</label>
                                    <input class="form-control w-full" name="OrderForm[user_name]" value="" type="text" id="field-orderform-fields-user_name">
                                </div>
                                    <div class="form-group fields hidden" id="order_link">
                                        <label class="control-label" for="field-orderform-fields-link">Link</label>
                                        <input class="form-control" name="OrderForm[link]" value="" type="text" id="field-orderform-fields-link">
                                    </div>
                                    <div class="form-group fields hidden" id="order_quantity">
                                        <label class="control-label" for="field-orderform-fields-quantity">Quantity</label>
                                        <input class="form-control" name="OrderForm[quantity]" value="" type="text" id="field-orderform-fields-quantity"><small class="help-block min-max">Min: 100 - Max: 50000</small>
                                    </div>
                                    <div class="form-group hidden fields" id="order_keywords">
                                        <label class="control-label" for="field-orderform-fields-keywords">Keywords (1 per line)</label>
                                        <textarea class="form-control" name="OrderForm[keywords]" id="field-orderform-fields-keywords" cols="30" rows="10"></textarea>
                                    </div>
                                    <div class="form-group hidden fields" id="order_comment">
                                        <label class="control-label" for="field-orderform-fields-comment">Comments (1 per line)</label>
                                        <textarea class="form-control" name="OrderForm[comment]" id="field-orderform-fields-comment" cols="30" rows="10"></textarea>
                                    </div>
                                    <div class="form-group hidden fields" id="order_mentionUsernames">
                                        <label class="control-label" for="field-orderform-fields-mentionUsernames">Usernames (1 per line)</label>
                                        <textarea class="form-control" name="OrderForm[mentionUsernames]" id="field-orderform-fields-mentionUsernames" cols="30" rows="10"></textarea>
                                    </div>
                                    <div class="form-group hidden fields" id="order_usernames">
                                        <label class="control-label" for="field-orderform-fields-usernames">Usernames (1 per line)</label>
                                        <textarea class="form-control w-full" name="OrderForm[usernames]" id="field-orderform-fields-usernames" cols="30" rows="10"></textarea>
                                    </div>
                                    <div class="form-group hidden fields" id="order_usernames_custom">
                                        <label class="control-label" for="field-orderform-fields-usernames_custom">Usernames (1 per line)</label>
                                        <textarea class="form-control" name="OrderForm[usernames_custom]" id="field-orderform-fields-usernames_custom" cols="30" rows="10"></textarea>
                                    </div>
                                    <div class="form-group fields" id="order_username">
                                        <label class="control-label" for="field-orderform-fields-username">Username</label>
                                        <input class="form-control" name="OrderForm[username]" value="" type="text" id="field-orderform-fields-username">
                                    </div>
                                    <div class="form-group hidden fields" id="order_mediaUrl">
                                        <label class="control-label" for="field-orderform-fields-mediaUrl">Media URL</label>
                                        <input class="form-control" name="OrderForm[mediaUrl]" value="" type="text" id="field-orderform-fields-mediaUrl">
                                    </div>
                                    <div class="form-group hidden fields" id="order_hashtag">
                                        <label class="control-label" for="field-orderform-fields-hashtag">Hashtag</label>
                                        <input class="form-control" name="OrderForm[hashtag]" value="" type="text" id="field-orderform-fields-hashtag">
                                    </div>
                                    <div class="form-group hidden fields" id="order_hashtags">
                                        <label class="control-label" for="field-orderform-fields-hashtags">Hashtags (1 per line)</label>
                                        <textarea class="form-control" name="OrderForm[hashtags]" id="field-orderform-fields-hashtags" cols="30" rows="10"></textarea>
                                    </div>
                                    <div id="dripfeed">
                                        <div class="form-group fields hidden" id="order_check">
                                            <div class="form-group__checkbox">
                                                <label class="form-group__checkbox-label">
                                                    <input name="OrderForm[check]" value="1" type="checkbox" id="field-orderform-fields-check">
                                                    <span class="checkmark"></span>
                                                </label>
                                                <label for="field-orderform-fields-check" class="form-group__label-title">
                                                    Drip-feed
                                                </label>
                                            </div>
                                            <div class="hidden depend-fields" id="dripfeed-options" data-depend="field-orderform-fields-check">
                                                <div class="form-group">
                                                    <label class="control-label" for="field-orderform-fields-runs">Runs ( Total orders to be sent)</label>
                                                    <input class="form-control" name="OrderForm[runs]" value="" type="text" id="field-orderform-fields-runs">
                                                </div>

                                                <div class="form-group">
                                                    <label class="control-label" for="field-orderform-fields-interval">Interval (Break between each run, In minutes)</label>
                                                    <input class="form-control" name="OrderForm[interval]" value="" type="text" id="field-orderform-fields-interval">
                                                </div>

                                                <div class="form-group">
                                                    <label class="control-label" for="field-orderform-fields-total-quantity">Total quantity</label>
                                                    <input class="form-control" name="OrderForm[total_quantity]" value="" type="text" id="field-orderform-fields-total-quantity" readonly="">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group fields" id="order_posts">
                                        <label class="control-label" for="field-orderform-fields-posts">New posts</label>
                                        <input class="form-control" name="OrderForm[posts]" value="" type="text" id="field-orderform-fields-posts">
                                    </div>
                                    <div class="form-group fields" id="order_min">
                                        <label class="control-label" for="order_count">Quantity</label>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <input type="text" class="form-control" id="order_count" name="OrderForm[min]" value="" placeholder="Min"><small class="help-block min-max">Min: 100 - Max: 50000</small>
                                            </div>

                                            <div class="col-md-6">
                                                <input type="text" class="form-control" id="order_count" name="OrderForm[max]" value="" placeholder="Max">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group fields" id="order_delay">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label class="control-label" for="field-orderform-fields-delay">Delay</label>
                                                <select class="form-control" name="OrderForm[delay]" id="field-orderform-fields-delay">

                                                    <option value="0">No delay</option>

                                                    <option value="300">5 minutes</option>

                                                    <option value="600">10 minutes</option>

                                                    <option value="900">15 minutes</option>

                                                    <option value="1800">30 minutes</option>

                                                    <option value="3600">60 minutes</option>

                                                    <option value="5400">90 minutes</option>

                                                    <option value="7200">120 minutes</option>

                                                    <option value="9000">150 minutes</option>

                                                    <option value="10800">180 minutes</option>

                                                    <option value="12600">210 minutes</option>

                                                    <option value="14400">240 minutes</option>

                                                    <option value="16200">270 minutes</option>

                                                    <option value="18000">300 minutes</option>

                                                    <option value="21600">360 minutes</option>

                                                    <option value="25200">420 minutes</option>

                                                    <option value="28800">480 minutes</option>

                                                    <option value="32400">540 minutes</option>

                                                    <option value="36000">600 minutes</option>

                                                </select>
                                            </div>
                                            <div class="col-md-6">
                                                <label for="field-orderform-fields-expiry">Expiry</label>
                                                <div class="input-group">
                                                    <input class="form-control datetime" autocomplete="off" name="OrderForm[expiry]" value="" type="text" id="field-orderform-fields-expiry">
                                                    <span class="input-group-btn">
                    <button class="btn btn-default btn-big-secondary clear-datetime" type="button" data-rel="#field-orderform-fields-expiry"><span class="fa far fa-trash-alt"></span></button>
                </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group fields hidden" id="order_comment_username">
                                        <label class="control-label" for="field-orderform-fields-comment_username">Username of the comment owner</label>
                                        <input class="form-control" name="OrderForm[comment_username]" value="" type="text" id="field-orderform-fields-comment_username">
                                    </div>
                                    <div class="form-group hidden fields" id="order_answer_number">
                                        <label class="control-label" for="field-orderform-fields-answer_number">Answer number</label>
                                        <input class="form-control" name="OrderForm[answer_number]" value="" type="text" id="field-orderform-fields-answer_number">
                                    </div>
                                    <div class="form-group hidden fields" id="order_email">
                                        <label class="control-label" for="field-orderform-fields-email">Email</label>
                                        <input class="form-control" name="OrderForm[email]" value="" type="text" id="field-orderform-fields-email">
                                    </div>
                                    <div class="form-group hidden fields" id="order_groups">
                                        <label class="control-label" for="field-orderform-fields-groups">Groups</label>
                                        <textarea class="form-control" name="OrderForm[groups]" id="field-orderform-fields-groups" cols="30" rows="10"></textarea>
                                    </div>
                                    <div class="form-group fields" id="order_average_time" style="display: block;">
                                        <label class="control-label" for="field-orderform-fields-average_time">Average time to complete
                                            <span class="ml-1 mr-1 fa fa-exclamation-circle" data-toggle="tooltip" data-placement="right" title="" data-original-title="The average time is based on 10 latest completed orders per 1000 quantity.">
        </span>
                                        </label>
                                        <input class="form-control" readonly="" value="" type="text" id="field-orderform-fields-average_time" disabled="">
                                    </div></div>

                                <div class="form-group" style="display: none;">
                                    <label for="charge" class="control-label">Charge</label>
                                    <input type="text" class="form-control" id="charge" value="" readonly="">
                                </div>


                                <input type="hidden" name="_csrf" value="VTzbhihVxNnHZ7Sgpf2aPwGsUxlfpPiB634WnZ9yzM4sXZ3JZzD9g78FmffrifZdd9Y7ejvJvsCHB2fe20eUug==">
                                <button type="submit" class="btn btn-primary btn-block">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-xl-4 mt-3 mt-xl-0">
                    <div class="row">
                        <div class="col-6">
                            <div class="card text-center">
                                <div class="card-body">
                                    <h4 class="h4 text-uppercase">7206995</h4>


                                </div>
                                <div class="card-footer">
                                    <i class="fas fa-crown text-primary mr-2"></i>
                                    <span>Total Orders</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="card text-center">
                                <div class="card-body">
                                    <h4 class="h4 text-uppercase">3163</h4>
                                </div>
                                <div class="card-footer">
                                    <i class="fas fa-shopping-cart text-primary mr-2"></i>
                                    <span>Available Services</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-12">
                            <div class="card h-100">
                                <div class="card-header d-flex justify-content-between align-items-center">
                                    <h6 class="h6 m-0">General News</h6>
                                    <button type="button" class="btn btn-sm btn-outline-primary" data-toggle="collapse" data-target="#general-news-body">
                                        <i class="fas fa-chevron-down"></i>
                                    </button>
                                </div>
                                <div class="card-body collapse show pt-0" id="general-news-body">
                                    <div class="card">
                                        <div class="card-body text-muted">

                                            <p style=""><b style=""><font color="#ffffff">December 21</font></b></p>
                                            <p><font color="#397B21"><b>Now Available - Limited Supply!</b></font></p>
                                            <p>🇺🇸 YouTube Unique Views - USA</p>
                                            <p>🇰🇷 YouTube Unique Views - South Korea </p>

                                            <hr style="margin-top: 19px; margin-bottom: 19px; border-top-color: rgb(56, 56, 56); color: rgb(92, 92, 92); font-family: &quot;Source Sans Pro&quot;, sans-serif; font-size: 13px;">

                                            <p style=""><b style=""><font color="#ffffff">December 04</font></b></p>
                                            <p><font color="#FF9C00"><b>New!</b></font></p>
                                            <p><b><font color="#FFFFFF">🔥 Crypto.com NFT Marketplace Views</font></b></p>
                                            <p><b><font color="#FFFFFF">🔥 SuperRare.com NFT Views</font></b></p>


                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <script type="text/javascript">
  let formData = localStorage.getItem('signup');
  formData && formData.removeItem('signup');
</script>
        </main>
        <!-- Main End -->
    </div>
</div>

</body>