<!--공지사항/ 현재 db로 옮기며 사용 안하지만 일단 남겨둠-->
동일한 서비스도 시간에 따라 공급이 시작되는 시점과 적용이 완료되는 시점 모두 편차가 큰 편입니다.<br>
또한 '상세설명'은 공급사에서 제공한 정보로 실제 데이터와 차이가 있을 수 있습니다<br>
그러니 구매한 상품의 리뷰를 남겨 안 좋은 공급사가 도태되도록 도와주세요 :)<br>
국적에 대한 언급이 없다면 외국인으로 공급됩니다.<br>
☔ 로 표시되어있는 리필 상품들은 보통 신뢰도가 떨어집니다. 리필이 없다고 생각하시는 편이 낫습니다. '리필'이라고 적혀있는 것보단 '이탈한 양만큼 다시 채워집니다'로 적혀있는게 신뢰도가 조금 더 높습니다.<br>
비공개 계정은 팔로워가 공급되지 않을 수 있습니다(또한 리필되지 않습니다)<br>
'자동화 내역'은 '활성화' 상태로 표시되어있어도 주문 직후 10분동안 비활성화 상태입니다.<br>
댓글 남기는 서비스를 구매시 각 줄은 빈칸이어서는 안됩니다